.container__menu-title {
  color: #ffffff;
  margin: 15px 0;
}

.container__menu-title > h1 {
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", sans-serif;
  font-size: 135px;
  margin: 15px 0;
}

.container__menu-title > hr {
  width: 100%;
  border: 1px solid #ffffff;
  margin: 20px 0;
  opacity: 0.5;
}
