.container__quizz {
  text-align: center;
  width: min(85vw, 80rem);
  margin: 3rem auto;
  display: grid;
  gap: 1rem;
  padding: 2rem;
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  box-shadow: var(--shadow);
  container-type: inline-size;
}

.quizz_logo {
  max-width: 100%;
  animation: fadeIn 0.8s ease;
}

.quizz_logo h1 {
  font-size: 9rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #e2deee;
}

.quizz_logo h3 {
  margin-top: 3rem;
  font-size: 4rem;
}

.quizz_logo img {
  max-width: 100%;
  height: auto;
}

.quizz_questions {
  font-size: 3rem;
  font-weight: 600;
  color: var(--primary-color);
  background-color: #ffffff;
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  animation: slideIn 0.5s ease;
}

.quizz_options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.quizz_options button {
  text-transform: uppercase;
  background-color: white;
  border: 2px solid var(--secondary-color);
  border-radius: var(--border-radius);
  padding: 1.6rem;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  transition: var(--transition);
}

.quizz_options button:last-child:nth-child(odd) {
  grid-column: span 2;
}

.quizz_options button:hover {
  transform: translateY(-0.3rem);
  box-shadow: var(--shadow);
  border-color: var(--primary-color);
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}

.quizz_results {
  padding: 2rem;
  background: linear-gradient(
    135deg,
    var(--primary-color),
    var(--secondary-color)
  );
  color: white;
  border-radius: var(--border-radius);
  font-size: 3rem;
  box-shadow: var(--shadow);
  animation: popIn 0.7s ease;
}

.restart-button {
  background-color: #1f1147;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 15px 32px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.restart-button:hover {
  background-color: #3c2683;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(2rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  70% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
