<div class="container__big-card">
  <img src="https://placehold.co/600x400" alt="Placeholder image" />
  <h2>
    <a href="#">Big Card Title</a>
  </h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci totam
    voluptatum suscipit ratione, libero explicabo nobis officiis, quo ab
    cupiditate, omnis minima laudantium provident expedita soluta quis maxime id
    velit. Aliquid voluptate omnis, corporis dicta eaque, tempore perferendis
    exercitationem, itaque perspiciatis modi placeat molestiae possimus earum
    provident nemo. Similique placeat eaque, necessitatibus dolorem non aliquid!
    Excepturi ratione molestiae iste odio. Enim voluptatem assumenda obcaecati
    molestiae incidunt aspernatur magnam perspiciatis voluptate excepturi! Culpa
    doloribus nemo iusto commodi sequi quod veritatis obcaecati earum.
    Doloremque amet doloribus vel consequatur corporis mollitia, dolor sequi!
  </p>
</div>
