<div class="container__small-card">
  <div class="small-card-content">
    <img
      src="https://placehold.co/300x200"
      alt="Placeholder image"
      class="small-card-image"
    />
    <div class="small-card-text">
      <h2 class="small-card-title">Small Card Title</h2>
      <p class="small-card-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente
        reiciendis architecto fugiat dolore distinctio sint soluta eos
        laudantium officiis praesentium natus, vero consectetur rem sit magnam.
        Explicabo quaerat hic laborum? Deserunt sint, iure, nisi reprehenderit
        tempora doloribus doloremque rerum, soluta recusandae quas incidunt.
        Itaque totam porro in, autem aliquid corrupti ut, nesciunt dignissimos
        temporibus sit eum cumque esse voluptatibus quia.
      </p>
    </div>
  </div>
  <div class="small-card-separator">
    <hr />
  </div>
</div>
